body {
	font-family: 'Helvetica';
	color: white;
	width: 350px;
	margin: 0;
}

h1 {
	font-size: 26px;
	font-family: 'Avantgarde';
	padding: 2px;
	margin: 2%;
	color: black;
	float: left;
}

@font-face {
	font-family: 'Avantgarde';
	src: url(Fonts/avantgarde-bk-bt-2-cufonfonts-webfont/AVGARDD_2.woff);
}

hr {
	background: rgb(0,255,221);
	background: linear-gradient(90deg, rgba(0,255,221,1) 0%, rgba(255,0,254,1) 100%);
	width: 98%;
	height: 0.1px;
	border-width: 1px;
	border-color: #EEE;
}

button {
	cursor: pointer;
	background: transparent;
	transition-duration: 0.1s;
	outline: none;
	border-width: 2px;
	border-radius: 4px;
}

input{
	font-size: larger;
}
textarea{
	font-size: larger;
}
